/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body {
	background-color: rgb(21, 21, 29);
	color: white;
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
}

/*--------*/
/* Header */
/*--------*/


header img {
	max-width: 100%;
}

/* Eerste ul, sticky navbar */
header nav ul:nth-of-type(1) {
	position: fixed;
	top: 0em;
	z-index: 1;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1em 1em 0.8em 1.5em;
	background-color: rgb(21, 21, 29);
	border-bottom: solid 0.01px rgb(150, 150, 150);
}

/* navbar iconen */
header nav ul:nth-of-type(1) button {
	background: none;
	border: none;
	padding: 0.2em 0 0 0;
}

/* F1TV logo navbar */
header nav ul:nth-of-type(1) li:nth-of-type(2) {
	width: 9.9em;
	margin-right: 1em;
}

/* zoek icon omlaag */
header nav ul:nth-of-type(1) li:nth-of-type(3) {
	padding: 0.3em 0 0 0;
}

/* Hamburger menu div */
header nav div {
	background-color: rgb(21, 21, 29);
	position: fixed;
	top: 0;
	left: 0;
	translate: -100% 0;
} 

header nav div.openMenu {
	position: fixed;
	top: 0;
	left: 0;
	translate: 0 0;
	transition: 300ms;
	z-index: 2;
	height: 100vh;
	overflow: scroll;
}

body.stopScrollen {
	overflow: hidden;
}

/* Eerste ul hamburger menu */
header nav div ul:nth-of-type(1) {
	margin: 0.3em 0 0 0;
	border-bottom: none;
}

/* F1TV logo in hamburger menu */
header nav div ul:nth-of-type(1) li:nth-of-type(2) {
	margin-right: 5.25em;
}

header nav div ul:nth-of-type(1) li:nth-of-type(2) img {
	width: 9em;
}


/* Tweede ul hamburger menu */
header nav div ul:nth-of-type(2) {
	padding: 5em 0.6em 0.8em 1.1em;
	display: flex;
	flex-direction: column;
	border: none;
	margin-right: 0.5em;
}

header nav div ul:nth-of-type(2) li {
	padding: 0.8em 0 0.8em 0;
}

header nav div ul:nth-of-type(2) li:nth-of-type(1) {
	border-bottom: solid 1.5px white;
	border-right: solid 1.5px white;
	border-radius: 5px;
}

/* Derde ul hamburger menu */
header nav div ul:nth-of-type(3) {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Derde ul buttons */
header nav div ul:nth-of-type(3) li button {
	margin: 0.5em;
	padding: 0.8em;
	width: 25em;
	border-radius: 72px;
	border: none;
}

header nav div ul:nth-of-type(3) li:nth-of-type(2) button {
	background-color: red;
	color: white;
}

header nav div ul:nth-of-type(3) li:nth-of-type(3) button {
	background-color: rgb(21, 21, 29);
	color: white;
	border: solid 0.01px rgb(150, 150, 150);
}

/* Vierde ul hamburger menu */
header nav div ul:nth-of-type(4) {
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	margin: 1em 1.3em 1em 0.8em;
}

/* Vierde ul list items */
header nav div ul:nth-of-type(4) li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 100%;
	margin: 1em 0 0 0;
	font-size: 0.8em;
}

/* Vijfde ul hamburger menu */
header nav div ul:nth-of-type(5) {
	display: flex;
	margin: 1em 0 1em 1.3em;
}

/* Vijfde ul list items */
header nav div ul:nth-of-type(5) li {
	margin: 0 1.3em 0 0;
	color: rgb(150, 150, 150);
	display: flex;
}


/* Header Carousel Homepagina */

.headerCarouselHome {
	margin: 4em 0 0 0;
	border-left: solid 0.8em rgb(102, 3, 0);
	border-right: solid 0.8em rgb(102, 3, 0);
}

.headerCarouselHome article div {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -10%, #15151D 15%);
	translate: 0em -1.8em;
	display: flex;
	flex-direction: column;
}

/* Tekst in afbeelding */
.headerCarouselHome article div p:nth-of-type(1) {
	display: flex;
	justify-content: center;
	margin: 0 0 1em 0;
	font-size: 0.82em;
	font-weight: 650;
}

.headerCarouselHome article div p:nth-of-type(2){
	display: flex;
	justify-content: center;
	font-size: 1.3em;
	font-weight: 700;
}

.headerCarouselHome article div p:nth-of-type(3) {
	margin: 1em 2em 0 2em;
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 0.8em;
}


/* Bekijk nu */

.headerCarouselHome article div a {
	background-color: red;
	padding: 0 0.4em 0 0.4em;
	margin: 1em 7em 1em 7em;
	border-radius: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerCarouselHome article div a:link {
	text-decoration: none;
	color: white;
}

.headerCarouselHome article div a:hover {
	text-decoration: none;
	color: white;
}

.headerCarouselHome article div a:visited {
	text-decoration: none;
	color: white;
}

.headerCarouselHome article div a:active {
	text-decoration: none;
	color: rgb(255, 155, 155);
}

.headerCarouselHome article div a p:nth-of-type(1) {
	margin-top: 1em;
	font-size: 0.8em;
	font-weight: 700;
}

/* Carousel 1 buttons */
.headerCarouselHome ul {
	display: flex;
	justify-content: center;
	margin: 1em 0 0 0;
	padding-bottom: 1em;
}

.headerCarouselHome ul li button {
	background: rgb(150, 150, 150);
	border: solid 3px rgb(161, 159, 161);
	border-radius: 100%;
	margin: 0.3em;
}

.headerCarouselHome ul li:nth-of-type(1) button {
	background: rgb(39, 39, 48);
	padding: 0.4em 0.4em 0.2em 0.4em;
	margin: 0 1em 1em 0;
	border: none;
}

.headerCarouselHome ul li:nth-of-type(6) button {
	background: rgb(39, 39, 48);
	padding: 0.4em 0.4em 0.2em 0.4em;
	margin: 0 0 1em 1em;
	border: none;
}



/*------*/
/* Main */
/*------*/



/* WeekendExpansie */
.weekendExpansie {
	background: linear-gradient(180deg, #660300 3.53%, #2E0200 49.82%);
}

/* H1 */
.abonneren {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding-top: 3em;
}

h1 {
	font-size: 1.3em;
	font-weight: 550;
	margin-bottom: 0.7em;
}

.abonneren button {
	padding: 0.8em 2.5em 0.8em 2.5em;
	border: none;
	border-radius: 5px;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	background-color: red;
}



/* Carousel 2 */
.abonneerCarousel article:nth-of-type(1) {
	display: grid;
}

.abonneerCarousel article:nth-of-type(1) p:nth-of-type(1) {
	display: flex;
	justify-content: center;
	font-weight: 500;
	margin: 0.6em 0 2em 0;
}

.abonneerCarousel article:nth-of-type(1) img {
	width: 87%;
	justify-self: center;
}

.abonneerCarousel article:nth-of-type(1) p:nth-of-type(2) {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 0.6em;
}	



/* Carousel 2 buttons */
.abonneerCarousel ul {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 2em;
}

.abonneerCarousel ul li:nth-of-type(1) button {
	position: absolute;
	top: -16em;
	left: 0.5em;

	background: none;
	border: none;
	size: 300%;
}

.abonneerCarousel ul li:nth-of-type(7) button {
	position: absolute;
	top: -16em;
	right: 0.5em;

	background: none;
	border: none;
}

.abonneerCarousel button {
	display: flex;
	justify-self: center;
	margin-top: 2em;
	margin-bottom: 3em;
	padding: 0.8em 2.5em 0.8em 2.5em;
	border: none;
	border-radius: 5px;
	font-size: 0.8em;
	font-weight: 600;
	color: white;
	background-color: red;
}

.abonneerCarousel ul li button {
	border: solid 6px rgb(39, 39, 48);
	border-radius: 100%;
	background: none;
	margin: 0 0.7em 0 0.7em;
	padding: 0;
}



/* Schema */
.schema ul {
	display: flex;
	margin: 1em 0.5em 1em 0.5em;
	padding-bottom: 1em;
	border-bottom: solid 1px rgb(150, 150, 150);
}

.schema ul li:nth-of-type(1) img {
	margin-top: 0.4em;
	width: 2em;
}

.schema ul li:nth-of-type(2) h2 {
	font-size: 1.4em;
	margin-left: 0.5em;
}

.schema ul li:nth-of-type(3) {
	margin-top: 0.7em;
	margin-left: auto;
	font-size: 0.8em;
}

.schema details summary {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: black;
	padding: 0.6em;
	border-radius: 72px;
}

.schema details > summary {
	list-style: none;
	display: flex;
}

.schema details summary p {
	margin: 0.2em 0 0 0.5em;
}

.schema details summary svg:nth-of-type(2) {
	margin: 0.3em 0 0 0.3em;
}

/* Uitklap gebeuren */
.schema details div ul {
	border: none;
}


/* SchemaCarousel */




/* KaartjeWeekend */
.kaartjeWeekend {
	display: flex;
	flex-wrap: wrap;
	margin: 3em;
	justify-content: space-between;
}

.kaartjeWeekend img {
	max-width: 100%;
}

/* KaartjeWeekend - Bekijk alles knop */
.kaartjeWeekend a {
	margin: 0.4em 0 0 0;
	text-decoration: none;
}

.kaartjeWeekend h2 {
	margin-bottom: 0.5em;
}



/* KaartjeWeekend - kaartje */
.kaartjeWeekend article {
	padding: 0.6em;
	border: solid 1px rgb(84, 50, 55);
	background-color: rgb(48, 26, 29);
}

.kaartjeWeekend article h3 {
	margin: 0.8em 0 0.3em 0;
}

.kaartjeWeekend article p:nth-of-type(2) {
	margin: 2em 0 0.3em 0;
}

.kaartjeWeekend article p:nth-of-type(3) {
	padding: 0 0 0 0.5em;
	border-left: solid 3px lightskyblue;
}



/* CarouselVerticaal */
.carouselVerticaal {
	margin: 3em;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.carouselVerticaal h2 {
	display: flex;
	flex-basis: 65%;
	font-size: 1em;
}

.carouselVerticaal a {
	display: flex;
	flex-basis: 35%;
}

.carouselVerticaal article {
	display: grid;
	gap: 0.5em;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-template-rows: auto auto auto;

	margin: 1em 0 1em 0;
	width: 100vw;
}

.carouselVerticaal article img {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 5;

	width: 35vw;
}

.carouselVerticaal article h3 {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row: 1;

	font-size: 0.8em;
}

.carouselVerticaal article p:nth-of-type(1) {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row: 2;

	font-size: 0.6em;
}

.carouselVerticaal article p:nth-of-type(2) {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row: 4;

	font-size: 0.6em;
}



/* CarouselHorizontaal */
.carouselHorizontaal {
	position: relative;
	margin: 3em;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.carouselHorizontaal h2 {
	display: flex;
	flex-basis: 65%;
	font-size: 1em;
	margin-bottom: 1em;
}

.carouselHorizontaal a {
	display: flex;
	flex-basis: 35%;
	margin-bottom: 1em;
}

.carouselHorizontaal ul {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	gap: 1em;
}

.carouselHorizontaal ul li {
	flex: 0 0 auto;
	scroll-snap-align: center;
}

.carouselHorizontaal button {
	position: absolute;
	top: 50%;
	right: -8%;

	border: none;
	border-radius: 100%;
	background-color: rgb(	39, 39,	48);
	padding: 0.6em 0.7em 0.5em 0.7em;
}



/* Kaartje */
.kaartje {
	display: flex;
	flex-wrap: wrap;
	margin: 3em;
}



/* Kaartje - Bekijk alles knop */
.kaartje a {
	margin: 0.4em 0 0 3em;
	text-decoration: none;
}

.kaartje h2 {
	margin-bottom: 0.5em;
}



/* Kaartje - kaartje */
.kaartje article {
	padding: 0.6em;
	border: solid 1px rgb(97, 97, 112);
	background-color: rgb(35, 35, 44);
}

.kaartje article h3 {
	margin: 0.8em 0 0.3em 0;
}

.kaartje article p:nth-of-type(2) {
	margin: 2em 0 0.3em 0;
}

.kaartje article p:nth-of-type(3) {
	padding: 0 0 0 0.5em;
	border-left: solid 3px lightskyblue;
}



/* CarouselHorizontaalKlein */




/*--------*/
/* Footer */
/*--------*/

footer {
	margin-left: 3.2em;
	margin-right: 3.2em;
	border-top: solid 0.1px white;
}

footer div:nth-of-type(1) img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 9.5em;
}

footer div:nth-of-type(2) {
	padding-bottom: 1.6em;
	border-bottom: solid 0.1px white;
}

footer div:nth-of-type(2) p {
	margin: 0;
}

footer div ul {
	display: flex;
	flex-wrap: wrap;
}

footer div:nth-of-type(2) ul li {
	flex-wrap: wrap;
	margin: 0.3em 1em 0 0;
}

footer div:nth-of-type(2) ul li img {
	margin-top: 0.5em;
	width: 100%;
}	

footer div ul li {
	flex-basis: 38%;
}

footer div p {
	margin: 2em 0 4em 0;
	font-size: 0.7em;
	font-weight: 400;
	line-height: 2em;
}



