
/*---------*/
/* Kleuren */
/*---------*/
:root {
	--color-text: white;
	--color-text-2: rgb(120, 116, 114);
	--color-text-3: black;

	--color-background: #15151D;
	--color-background-2: #000000;
	--color-background-3: #660301;
	--color-background-4: #FFFFFF;
	--color-schemacarousel: #1B0100;
	--color-kaartje-1: #301A1D;
	--color-kaartje-2: #23232C;
}



/*------------*/
/* CSS REMEDY */
/*------------*/
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0;
  padding: 0;
}



/*------------------*/
/* ALGEMENE STYLING */
/*------------------*/
body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: 'Open Sans', sans-serif;
}

li {
	list-style-type: none;
}



/*--------*/
/* HEADER */
/*--------*/
header {
	background-color: var(--color-background-3);
}

header img {
	max-width: 100%;
}

/* Eerste ul, sticky navbar */
header nav ul:nth-of-type(1) {
	position: fixed;
	z-index: 1;
	top: 0em;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1em 1em 0.8em 1.5em;
	background-color: var(--color-background);
	border-bottom: solid 0.01px rgb(150, 150, 150);
}

/* navbar iconen */
header nav ul:nth-of-type(1) button {
	background: none;
	border: none;
	padding: 0.2em 0 0 0;
}

/* F1TV logo navbar */
header nav ul:nth-of-type(1) li:nth-of-type(2) {
	width: 9.9em;
	margin-right: 1em;
}

/* zoek icon omlaag */
header nav ul:nth-of-type(1) li:nth-of-type(3) {
	padding: 0.3em 0 0 0;
}



/*--------*/
/* TOGGLE */
/*--------*/
@media (prefers-color-scheme:dark) {
	:root {
        background-color: var(--color-background-2);
    }
}

.switch {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
	top: 5em;
	right: 1em;
}

@media screen and (min-width: 1000px) {
	.switch {
		top: 10em;
	}
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-kaartje-2);
    border-radius: 34px;
    transition: 0.4s;
}
  
span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-background);
    border-radius: 50%;
    transition: 0.4s;
}

body.dark-mode .switch span:before {
    left: 30px;
	background-color: var(--color-background-2);
}

body.dark-mode {
    background-color: var(--color-background-2);
}

body header nav ul.dark-mode {
	background-color: var(--color-background-2);
}



/*----------------*/
/* HAMBURGER MENU */
/*----------------*/
header nav div {
	background-color: rgb(21, 21, 29);
	position: fixed;
	top: 0;
	left: 0;
	width: 375px;
	translate: -100% 0;
	transition: 300ms;
	z-index: 2;
} 

header nav div.openMenu {
	position: fixed;
	top: 0;
	left: 0;
	translate: 0 0;
	height: 100vh;
	overflow: scroll;
	max-width: 375px;
}

.openMenu::-webkit-scrollbar {
	display: none;
}

body.stopScrollen {
	overflow: hidden;
}

/* Eerste ul hamburger menu */
header nav div ul:nth-of-type(1) {
	margin: 0.3em 0 0 0;
	border-bottom: none;
}

/* F1TV logo in hamburger menu */
header nav div ul:nth-of-type(1) li:nth-of-type(2) {
	margin-right: 5.25em;
}

header nav div ul:nth-of-type(1) li:nth-of-type(2) img {
	width: 9em;
}


/* Tweede ul hamburger menu */
header nav div ul:nth-of-type(2) {
	padding: 5em 0.6em 0.8em 1.1em;
	display: flex;
	flex-direction: column;
	border: none;
	margin-right: 0.5em;
}

header nav div ul:nth-of-type(2) li {
	padding: 0.8em 0 0.8em 0;
}

header nav div ul:nth-of-type(2) li:nth-of-type(1) {
	border-bottom: solid 1.5px white;
	border-right: solid 1.5px white;
	border-radius: 5px;
}

/* Derde ul hamburger menu */
header nav div ul:nth-of-type(3) {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Derde ul buttons */
header nav div ul:nth-of-type(3) li button {
	margin: 0.5em;
	padding: 0.8em;
	width: 25em;
	border-radius: 72px;
	border: none;
}

header nav div ul:nth-of-type(3) li:nth-of-type(2) button {
	background-color: red;
	color: white;
}

header nav div ul:nth-of-type(3) li:nth-of-type(3) button {
	background-color: rgb(21, 21, 29);
	color: white;
	border: solid 0.01px rgb(150, 150, 150);
}

/* Vierde ul hamburger menu */
header nav div ul:nth-of-type(4) {
	padding: 0.5em;
	display: flex;
	flex-wrap: wrap;
	margin: 1em 1.3em 1em 0.8em;
}

/* Vierde ul list items */
header nav div ul:nth-of-type(4) li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-basis: 100%;
	margin: 1em 0 0 0;
	font-size: 0.8em;
}

/* Vijfde ul hamburger menu */
header nav div ul:nth-of-type(5) {
	display: flex;
	margin: 1em 0 1em 1.3em;
}

/* Vijfde ul list items */
header nav div ul:nth-of-type(5) li {
	margin: 0 1.3em 0 0;
	color: rgb(150, 150, 150);
	display: flex;
}

/* https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (min-width: 1000px) {
	header nav {
		display: none;
	}
}



/* --------------------*/
/* HEADER GROOT SCHERM */
/* --------------------*/
.grootMenu {
	position: relative;
	z-index: 1;
}

.grootMenu ul:nth-of-type(1) {
	background-color: var(--color-background-4);
	color: var(--color-text-3);
	display: flex;
	justify-content: space-evenly;
	padding: 0.2em 8% 0 8%;
}

.grootMenu ul:nth-of-type(1) img {
	width: 8em;
	padding: 0 1em 0 1em;
	border-left: solid 1px var(--color-text-2);
	border-right: solid 1px var(--color-text-2);
}

.grootMenu ul:nth-of-type(1) li {
	padding-top: 0.6em;
}

.grootMenu ul:nth-of-type(1) li p {
	font-size: 0.8em;
}

.grootMenu ul:nth-of-type(1) li button {
	width: 10em;
	padding: 0.6em 0.8em 0.6em 0.8em;
	border-radius: 5px;
	border: none;
	font-size: 0.75em;
	font-weight: 550;
}

.grootMenu ul:nth-of-type(1) li:nth-of-type(7) {
	padding-top: 0.2em;
}

.grootMenu ul:nth-of-type(1) li:nth-of-type(7) button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-background);
	color: var(--color-text);	
}

.grootMenu ul:nth-of-type(1) li:nth-of-type(7) button svg {
	margin-right: 0.5em;
}

.grootMenu ul:nth-of-type(1) li:nth-of-type(8) {
	padding-top: 0.2em;
}

.grootMenu ul:nth-of-type(1) li:nth-of-type(8) button {
	background-color: red;
	color: var(--color-text);
	padding: 0.72em 0.8em 0.72em 0.8em;
}

.grootMenu ul:nth-of-type(2) {
	background-color: var(--color-background-4);
	color: var(--color-text-2);
	display: flex;
	padding: 1em 8% 1em 10%;
}

.grootMenu ul:nth-of-type(2) li {
	margin: 0 1em 0 1em;
}

.grootMenu ul:nth-of-type(2) li p {
	font-weight: 550;
}

.grootMenu ul:nth-of-type(3) {
	background-color: var(--color-background);
	color: var(--color-text-1);
	display: flex;
	justify-content: space-evenly;
	padding: 1em 8% 0 8%;
}

.grootMenu ul:nth-of-type(3) img {
	width: 11em;
	margin-right: 2em;
}

.grootMenu ul:nth-of-type(3) p {
	font-size: 0.95em;
	font-weight: 530;
	margin-top: 0.3em;
}

.grootMenu ul:nth-of-type(3) li:nth-of-type(8) button {
	background: none;
	border: none;
	padding: 0.2em 0 0 0;
}



@media screen and (max-width: 1000px) {
	.grootMenu {
		display: none;
	}
}



/* --------------------------*/
/* EERSTE CAROUSEL ONDER NAV */
/* --------------------------*/
.headerCarouselHome {
	margin: 4em 0 0 0;
	border-left: solid 0.8em rgb(102, 3, 0);
	border-right: solid 0.8em rgb(102, 3, 0);
}

.headerCarouselHome article div {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) -10%, #15151D 15%);
	translate: 0em -1.8em;
	display: flex;
	flex-direction: column;
}

/* Tekst in afbeelding */
.headerCarouselHome article div p:nth-of-type(1) {
	display: flex;
	justify-content: center;
	margin: 0 0 1em 0;
	font-size: 0.82em;
	font-weight: 650;
}

.headerCarouselHome article div p:nth-of-type(2){
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	font-weight: 700;
}

.headerCarouselHome article div p:nth-of-type(3) {
	margin: 1em 2em 0 2em;
	display: flex;
	justify-content: center;
	font-size: 0.8em;
}

/* Bekijk nu */
.headerCarouselHome article div a {
	background-color: red;
	padding: 0 1.5em 0 1em;
	margin: 1em auto 1em auto;
	border-radius: 100px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.headerCarouselHome article div a:link {
	text-decoration: none;
	color: white;
}

.headerCarouselHome article div a:hover {
	text-decoration: none;
	color: white;
}

.headerCarouselHome article div a:visited {
	text-decoration: none;
	color: white;
}

.headerCarouselHome article div a:active {
	text-decoration: none;
	color: rgb(255, 155, 155);
}

.headerCarouselHome article div a p:nth-of-type(1) {
	margin-top: 1em;
	font-size: 0.8em;
	font-weight: 700;
}

/* Carousel 1 buttons */
.headerCarouselHome ul {
	display: flex;
	justify-content: center;
	translate: 0 -27%;
	padding: 2em 0 2em 0;
	background-color: var(--color-background);
}

.headerCarouselHome ul li button {
	background: rgb(150, 150, 150);
	border: solid 3px rgb(161, 159, 161);
	border-radius: 100%;
	margin: 0.3em;
}

.headerCarouselHome ul li:nth-of-type(1) button {
	background: rgb(39, 39, 48);
	padding: 0.4em 0.4em 0.2em 0.4em;
	margin: 0 1em 1em 0;
	border: none;
}

.headerCarouselHome ul li:nth-of-type(6) button {
	background: rgb(39, 39, 48);
	padding: 0.4em 0.4em 0.2em 0.4em;
	margin: 0 0 1em 1em;
	border: none;
}

@media screen and (min-width: 720px) {
	.headerCarouselHome {
	  max-width: 720px;
	  margin: 0 auto 0 auto;
	}
}

@media screen and (min-width: 1000px) {
	.headerCarouselHome {
	  max-width: 90vw;
	  max-height: 40vw
	}
	.headerCarouselHome article div {
		display: flex;
		justify-content: space-evenly;
		width: 35em;
		height: 40vw;
		background: linear-gradient(270deg, rgba(21, 21, 29, 0.00) 3.53%, #15151D 49.82%);
		translate: 0 -100%;
	}
	.headerCarouselHome article div p:nth-of-type(1) {
		display: flex;
		justify-content: left;
		margin: 3em 0 0 2em;
	}
	.headerCarouselHome article div p:nth-of-type(2) {
		display: flex;
		justify-content: left;
		margin: 2em 0 0 1.2em;
	}
	.headerCarouselHome article div p:nth-of-type(3) {
		display: flex;
		justify-content: left;
		margin: 2em 2em 0 2em;
		max-width: 20em;
	}
	.headerCarouselHome article div a {
		display: flex;
		justify-content: center;
		margin: 3em auto 6em 5em;
	}
	.headerCarouselHome article div a p:nth-of-type(1){
		margin: 0;
	}
	.headerCarouselHome article ul {
		height: 40vw;
		translate: 0 -120%;
		background: none;
	}

}  



/*---------------*/
/* MAIN PAGINA 1 */
/*---------------*/

/* WeekendExpansie */
.weekendExpansie {
	background: linear-gradient(180deg, #660300 3.53%, #2E0200 49.82%);
	padding-bottom: 2em;
}



/*----*/
/* H1 */
/*----*/
.abonneren {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	padding-top: 3em;
}

h1 {
	font-size: 1.3em;
	font-weight: 550;
	margin-bottom: 0.7em;
}

.abonneren button {
	padding: 0.8em 2.5em 0.8em 2.5em;
	border: none;
	border-radius: 5px;
	font-size: 0.8em;
	font-weight: bold;
	color: white;
	background-color: red;
}



/*-------------------*/
/* ABONNEER CAROUSEL */
/*-------------------*/
.abonneerCarousel article:nth-of-type(1) {
	display: grid;
}

.abonneerCarousel article:nth-of-type(1) p:nth-of-type(1) {
	display: flex;
	justify-content: center;
	font-weight: 500;
	margin: 0.6em 0 2em 0;
}

.abonneerCarousel article:nth-of-type(1) img {
	width: 87%;
	justify-self: center;
}

.abonneerCarousel article:nth-of-type(1) p:nth-of-type(2) {
	display: flex;
	justify-content: center;
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	margin-top: 0.6em;
}	



/* Abonneer carousel buttons */
.abonneerCarousel ul {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 2em;
}

.abonneerCarousel ul li:nth-of-type(1) button {
	position: absolute;
	top: -16em;
	left: 0.5em;

	background: none;
	border: none;
	size: 300%;
}

.abonneerCarousel ul li:nth-of-type(7) button {
	position: absolute;
	top: -16em;
	right: 0.5em;

	background: none;
	border: none;
}

.abonneerCarousel button {
	display: flex;
	justify-self: center;
	margin-top: 2em;
	margin-bottom: 3em;
	padding: 0.8em 2.5em 0.8em 2.5em;
	border: none;
	border-radius: 5px;
	font-size: 0.8em;
	font-weight: 600;
	color: white;
	background-color: red;
}

.abonneerCarousel ul li button {
	border: solid 6px rgb(39, 39, 48);
	border-radius: 100%;
	background: none;
	margin: 0 0.7em 0 0.7em;
	padding: 0;
}

@media screen and (min-width: 720px) {
	.abonneerCarousel {
	  max-width: 720px;
	  margin: 0 auto 0 auto;
	}
  }



/*----------------*/
/* UITKLAP SCHEMA */
/*----------------*/
.schema ul {
	display: flex;
	margin: 1em 0.5em 1em 0.5em;
	padding-bottom: 1em;
	border-bottom: solid 1px rgb(150, 150, 150);
}

.schema ul li:nth-of-type(1) img {
	margin-top: 0.4em;
	width: 2em;
}

.schema ul li:nth-of-type(2) h2 {
	font-size: 1.4em;
	margin-left: 0.5em;
}

.schema ul li:nth-of-type(3) {
	margin-top: 0.7em;
	margin-left: auto;
	font-size: 0.8em;
}

.schema details summary {
	display: flex;
	justify-content: center;
}

.schema details summary button {
	display: flex;
	flex-direction: row;
	background-color: white;
	color: black;
	padding: 0.6em 1.5em 0.6em 1.5em;
	border-radius: 72px;
}

.schema details > summary {
	list-style: none;
	display: flex;
}

.schema details summary p {
	margin: 0.3em 0.6em 0 1em;
	font-size: 1.2em;
	font-weight: 600;
}

.schema details summary svg:nth-of-type(2) {
	margin: 0.3em 0 0 0.3em;
}

/* Uitklap gebeuren */
.schema details div {
	margin: 2em 2em 0 2em;
	border-top: solid 5px red;
	border-right: solid 5px red;
	border-top-right-radius: 30px; /* Kan toch wel!! :), https://www.w3schools.com/cssref/css3_pr_border-top-right-radius.php */
}

.schema details div ul:nth-of-type(1) {
	border: none;
	display: flex;
	justify-content: end;
}

.schema details div ul:nth-of-type(1) li {
	margin: 0.3em 1em 0em 1em;
}

.schema details div ul:nth-of-type(2) {
	border: none;
	display: flex;
}

.schema details div ul:nth-of-type(2) li:nth-of-type(3) {
	margin: 0 0 0 0;
}

.schema details div ul:nth-of-type(2) li button {
	font-size: 0.8em;
	color: var(--color-text);
	background: none;
	border: none;
	padding: 1em;
}

.schema details div ul:nth-of-type(2) li:nth-of-type(1) button {
	border-bottom: solid 5px white;
}

.schema details div ul:nth-of-type(2) li:nth-of-type(3) button {
	font-size: 12.8px;
	background: none;
}

/* SchemaCarousel */
.schema details section {
	background-color: var(--color-schemacarousel);
	border: none;
	margin: 0 1em 1em 1em;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	width: 90vw;
	overflow: scroll;
}

.schema details section p:nth-of-type(1) {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

div.schemaKaartje {
	border: none;
}

.schemaKaartje:nth-of-type(1) {
	display: flex;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.schema details section p:nth-of-type(2) {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.schemaKaartje:nth-of-type(2) {
	display: flex;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}

.schemaKaartje:nth-of-type(3) {
	display: flex;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}

.schemaKaartje:nth-of-type(4) {
	display: flex;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
}

.schemaKaartje:nth-of-type(5) {
	display: flex;
	border: none;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.schemaKaartje:nth-of-type(6) {
	display: flex;
	border: none;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}

.schemaKaartje:nth-of-type(7) {
	display: flex;
	border: none;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
}

.schema details section p:nth-of-type(3) {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}



.schema details section p:nth-of-type(4) {
	grid-column-start: 6;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 2;
}

@media screen and (min-width: 720px) {
	.schema {
	  max-width: 80vw;
	  margin: 0 auto 0 auto;
	}
  }



/*-----------------------------*/
/* ALLE 'BEKIJK ALLES' ANCHORS */
/*-----------------------------*/
.bekijkAlles {
	color: white;
	font-size: 0.7em;
	font-weight: 600;
	text-decoration: none;
}



/*--------------------------------------*/
/* UITGELICHTE ARTIKEL WEEKEND EXPANSIE */
/*--------------------------------------*/
.kaartjeWeekend {
	display: flex;
	flex-direction: column;
	margin: 3em;
	justify-content: space-between;
}

.kaartjeWeekend ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.kaartjeWeekend img {
	max-width: 100%;
}

/* KaartjeWeekend - Bekijk alles knop */
.kaartjeWeekend a {
	margin: 0.4em 0 0 0;
	text-decoration: none;
}

.kaartjeWeekend h2 {
	margin-bottom: 0.5em;
}

/* KaartjeWeekend - kaartje */
.kaartjeWeekend article {
	padding: 0.6em;
	border: solid 1px rgb(84, 50, 55);
	background-color: rgb(48, 26, 29);
}

.kaartjeWeekend article h3 {
	margin: 0.8em 0 0.3em 0;
}

.kaartjeWeekend article p:nth-of-type(2) {
	margin: 2em 0 0.3em 0;
}

.kaartjeWeekend article p:nth-of-type(3) {
	padding: 0 0 0 0.5em;
	border-left: solid 3px lightskyblue;
}

@media screen and (min-width: 720px) {
	.kaartjeWeekend {
	  max-width: 596px;
	  margin: 3em auto 3em auto;
	}
  }



/*--------------------------------------*/
/* UITGELICHTE CONTENT WEEKEND EXPANSIE */
/*--------------------------------------*/
.carouselVerticaal {
	margin: 3em;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.carouselVerticaal ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.carouselVerticaal h2 {
	font-size: 1em;
}

.carouselVerticaal article {
	display: grid;
	gap: 0.5em;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr auto auto;

	margin: 1em 0 1em 0;
	width: auto;

	padding-bottom: 1em;
	border-bottom: solid 1px var(--color-text-2);
}

.carouselVerticaal article img {
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 5;
	width: 30vw;
}

.carouselVerticaal article h3 {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row: 1;

	font-size: 0.8em;
}

.carouselVerticaal article p:nth-of-type(1) {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row: 2;

	font-size: 0.6em;
}

.carouselVerticaal article p:nth-of-type(2) {
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row: 3;

	font-size: 0.6em;
}

@media screen and (min-width: 500px) {
	.carouselVerticaal {
	  max-width: 400px;
	  margin: auto auto auto auto;
	}

	.carouselVerticaal img {
		max-width: 10em;
	}
  }



/*-------------*/
/* 'MEER' KNOP */
/*-------------*/
.meer {
	display: flex;
	justify-content: center;
	color: var(--color-text);
	text-decoration: none;
}

.meer p {
	display: inline-block;
	padding: 0.5em 2em 0.5em 2em;
	border: solid 1px var(--color-text);
	border-radius: 72px;
}



/*------------------------------------*/
/* UITGELICHTE CONTENT GROTE CAROUSEL */
/*------------------------------------*/
.carouselHorizontaal {
	position: relative;
	margin: 3em;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.carouselHorizontaal ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.carouselHorizontaal ul:nth-of-type(1) h2 {
	font-size: 1em;
	margin-bottom: 1em;
}

.carouselHorizontaal ul:nth-of-type(1) a {
	margin-bottom: 1em;
}

.carouselHorizontaal ul:nth-of-type(2) {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	gap: 1em;
}

.carouselHorizontaal ul:nth-of-type(2)::-webkit-scrollbar {
	display: none;
}

.carouselHorizontaal ul:nth-of-type(2) li {
	flex: 0 0 auto;
	scroll-snap-align: center;
}

.carouselHorizontaal button {
	position: absolute;
	top: 50%;
	right: -2.5em;

	border: none;
	border-radius: 100%;
	background-color: rgb(	39, 39,	48);
	padding: 0.6em 0.7em 0.5em 0.7em;
}

@media screen and (max-width: 500px) {
	.carouselHorizontaal {
	  max-width: 300px;
	  margin: 3em auto 0 auto;
	}
}

@media screen and (min-width: 500px) {
	.carouselHorizontaal {
	  max-width: 450px;
	  margin: 3em auto 0 auto;
	}
}

@media screen and (min-width: 720px) {
	.carouselHorizontaal {
	  max-width: 600px;
	  margin: 3em auto 0 auto;
	}
}



/*---------------------*/
/* UITGELICHTE ARTIKEL */
/*---------------------*/
.kaartje {
	display: flex;
	flex-direction: column;
	margin: 3em;
}

.kaartje ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/* Kaartje - Bekijk alles knop */
.kaartje a {
	margin: 0.8em 0 0 3em;
	text-decoration: none;
}

.kaartje h2 {
	margin-bottom: 0.5em;
}



/* Kaartje - kaartje */
.kaartje article {
	padding: 0.6em;
	border: solid 1px rgb(97, 97, 112);
	background-color: rgb(35, 35, 44);
}

.kaartje article img {
	width: 100%;
}

.kaartje article h3 {
	margin: 0.8em 0 0.3em 0;
}

.kaartje article p:nth-of-type(2) {
	margin: 2em 0 0.3em 0;
}

.kaartje article p:nth-of-type(3) {
	padding: 0 0 0 0.5em;
	border-left: solid 3px lightskyblue;
}

@media screen and (min-width: 720px) {
	.kaartje {
	  max-width: 596px;
	  margin: 3em auto 3em auto;
	}
}



/*--------*/
/* UITGELICHTE CONTENT KLEINE CAROUSEL */
/*--------*/
.carouselHorizontaalKlein {
	position: relative;
	margin: 3em;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.carouselHorizontaalKlein img {
	width: 8.2em;
}

.carouselHorizontaalKlein ul:nth-of-type(1) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.carouselHorizontaalKlein ul:nth-of-type(1) li:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 60%;
}

.carouselHorizontaalKlein h2 {
	font-size: 1em;
	margin-bottom: 1em;
}

.carouselHorizontaalKlein a {
	margin-bottom: 1em;
}

.carouselHorizontaalKlein ul:nth-of-type(2) {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	gap: 1em;
	margin-bottom: 1em;
}

.carouselHorizontaalKlein ul:nth-of-type(2)::-webkit-scrollbar {
	display: none;
}

.carouselHorizontaalKlein ul:nth-of-type(3) {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	gap: 1em;
}

.carouselHorizontaalKlein ul:nth-of-type(3)::-webkit-scrollbar {
	display: none;
}

.carouselHorizontaalKlein button {
	border: none;
	border-radius: 100%;
	background-color: rgb(	39, 39,	48);
	padding: 0.6em 0.7em 0.5em 0.7em;
}

.carouselHorizontaalKlein button:nth-of-type(1) {
	position: absolute;
	top: 4em;
	right: -2.5em;
}

.carouselHorizontaalKlein button:nth-of-type(2) {
	position: absolute;
	top: 11.5em;
	right: -2.5em;
}

@media screen and (max-width: 500px) {
	.carouselHorizontaalKlein {
	  max-width: 280px;
	  margin: 3em auto 0 auto;
	}
	.carouselHorizontaalKlein button:nth-of-type(1) {
		top: 5.5em;
	}
}

@media screen and (min-width: 500px) {
	.carouselHorizontaalKlein {
	  max-width: 430px;
	  margin: 3em auto 0 auto;
	}
}

@media screen and (min-width: 720px) {
	.carouselHorizontaalKlein {
	  max-width: 580px;
	  margin: 3em auto 0 auto;
	}
}



/*---------------*/
/* MAIN PAGINA 2 */
/*---------------*/
.videoSectie {
	margin: 1em 1em 1em 1em;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.videoSectie iframe {
	margin-top: 4em;
	width: 100%;
	max-width: 60em;
	height: 55vw;
	max-height: 32em;
}

@media screen and (min-width: 1000px) {
	.videoSectie iframe {
	  margin-top: 1em;
	}
}

.videoSectie ul {
	display: flex;
	flex-direction: column;
	margin: 0.5em auto 0 1em;
	max-width: 60em;
}

@media screen and (min-width: 1000px) {
	.videoSectie ul {
	  padding-left: 18vw;
	}
}

.videoSectie ul li h1 {
	font-size: 1.8em;
	font-weight: 800;
}

.videoSectie ul li:nth-of-type(2) p {
	display: inline-block;
	font-size: 0.95em;
	font-weight: 700;
	border-bottom: solid 1px red;
	padding-bottom: 0.2em;
}

.videoSectie ul li:nth-of-type(3) p {
	margin: 1em 0 1em 0;
	font-size: 0.8em;
	color: var(--color-text-2);
}

.videoSectie ul li:nth-of-type(4) {
	display: flex;
	flex-direction: row;
}

.videoSectie ul li:nth-of-type(4) svg {
	margin: 0.2em 0.6em 0 0;
}

.videoSectie ul li:nth-of-type(4) p:first-of-type {
	padding: 0 0.6em 0 0.6em;
	color: var(--color-text-2);
	border-left: solid 1px var(--color-text-2);
	border-right: solid 1px var(--color-text-2);
}

.videoSectie ul li:nth-of-type(4) p:last-of-type {
	margin-left: 0.6em;
	color: var(--color-text-2);
}

.videoSectie ul li button {
	display: flex;
	flex-direction: row;
	margin: 2em 0 2em 1em;
	padding: 0.6em 2em 0.6em 1em;
	background-color: #660301;
	border: none;
	border-radius: 72px;
}

.videoSectie ul li button p {
	color: var(--color-text);
	margin: 0.3em 0 0 0.5em;
}



/*--------*/
/* FOOTER */
/*--------*/

footer {
	margin-left: 3.2em;
	margin-right: 3.2em;
	border-top: solid 0.1px white;
}

footer div:nth-of-type(1) img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 9.5em;
}

footer div:nth-of-type(2) {
	padding-bottom: 1.6em;
	border-bottom: solid 0.1px white;
}

footer div:nth-of-type(2) p {
	margin: 0;
}

footer div ul {
	display: flex;
	flex-wrap: wrap;
}

footer div:nth-of-type(2) ul li {
	flex-wrap: wrap;
	margin: 0.3em 1em 0 0;
}

footer div:nth-of-type(2) ul li img {
	margin-top: 0.5em;
	width: 6em;
}	

.copyright {
	display: flex;
	justify-content: end;
	margin: 2em 0 4em 0;
	font-size: 0.7em;
	font-weight: 400;
	line-height: 2em;
}



